* {
  box-sizing: border-box;
}
/*****************
    scrollbar
*****************/
::-webkit-Scrollbar{

  width: 10px; 
  background: #000000;
  
  }
  
  ::-webkit-Scrollbar-thumb{
  
  border-radius: 10px;
  background: #d08bff;
  box-shadow: inset 0 0 20px #c16afb;
  
  }
/***********
เมนู รูปรวม VR
************/
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row2:after {
    content: "";
    clear: both;
    display: table;
  }
/******************
font และ สีทั้งหน้าเว็บ
******************/
html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-color: #202020;
}

/*.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}
.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}*/
.header {
  display: flex;
  justify-content: center; /* ย้ายรูปไปอยู่ตรงกลางแนวนอน */
  align-items: center; 
  width: 100vw; /* กว้างเต็มขอบจอ */
  height: auto; /* ความสูงเป็น auto เพื่อให้เต็มความสูงของเนื้อหาภายใน */
  padding: 20px; /* กำหนด Padding ตามที่ต้องการ */
  background-color: #202020;  /*เปลี่ยนสีพื้นหลังตามที่ต้องการ */
  
}

/*.footer {
  width: 100vw; 
  height: auto; 
  padding: 20px; 
  box-sizing: border-box;
  background-color: #333; 
  color: #fff; 
}*/

.footer {
  width: 100vw; /* กว้างเต็มขอบจอ */
  height: auto; /* ความสูงเป็น auto เพื่อให้เต็มความสูงของเนื้อหาภายใน */
  padding: 20px; /* กำหนด Padding ตามที่ต้องการ */
  margin: 0; /* กำหนด Margin เป็น 0 เพื่อให้ไม่มีช่องว่างรอบขอบ */
  box-sizing: border-box;
  background-color: #333; /* เปลี่ยนสีพื้นหลังตามที่ต้องการ */
  color: #fff; /* เปลี่ยนสีข้อความตามที่ต้องการ */
  position: fixed; /* ติดด้านล่างของหน้าจอ */
  bottom: 0; /* ตั้งค่าให้ติดกับด้านล่างของหน้าจอ */
  left: 0; /* ตั้งค่าให้ติดด้านซ้ายของหน้าจอ */
}


/****** เมนูที่ลิ้งได้ ******/
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color:#d08bff;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 20px;
}

.menu li:hover {
  background-color: #ddb4fa;
}

li.two {
  background-color: #2a2a2a;
  border-radius: 20px;
}

li.two:hover {
  background-color: #545454;
}

a {
  text-decoration: none;
}

/****** สีของข้อมูลทุกคน ******/
.menu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
  
.menu2 li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #ce84ff;
    color: #ffffff;
}
  

.aside {
  background-color: #DFAEFF;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}



[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.pic {
    text-align: center;
}

.pic2 {
    text-align: center;
    border-radius: 15px;
}

img {
    max-width: 100%;
}
